<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Estudiantes</title>
</head>
<body onload="listarEstudiantes()">
    <div class="container">
        <div class="nav-item d-none d-sm-inline-block"></div>
        <div class="row">
            <a class="btn btn-danger boton-registro" href="../index.html">PRINCIPAL</a>
        </div>
        <div class="nav-item d-none d-sm-inline-block"></div>
        <div class="row">
            <a class="btn btn-danger boton-registro" href="registrarEstudiantes.html">Registrar estudiantes</a>
        </div>
            <table class="centered">
                <thead>
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Apellido
                        </th>
                        <th>
                            Correo
                        </th>
                        <th>
                            Documento
                        </th>
                        <th>
                            Tipo Documento
                        </th>
                        <th>
                            Numero Telefonico
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody id="contenido">

                </tbody>

            </table>
        </div>


        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">child_care</i>
                                    <input id="nombre" type="text" class="validate">
                                    <label for="nombre">Nombre</label>
                                </div>
                            </div>                        
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">child_care</i>
                                    <input id="apellido" type="text" class="validate">
                                    <label for="apellido">Apellido</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">contact_mail</i>
                                    <input id="correo" type="email" class="validate">
                                    <label for="correo">Correo</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">assignment_ind</i>
                                    <input id="documento" type="number" class="validate">
                                    <label for="documento">Documento</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">assignment_ind</i>
                                    <input id="tipo_documento" type="text" class="validate">
                                    <label for="tipo_documento">Tipo Documento</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix">call</i>
                                    <input id="nro_telefono" type="number" class="validate">
                                    <label for="nro_telefono">Numero Telefonico</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <select class="browser-default" id="estado">
                                        <option value="" disabled selected> Elegir el estado </option>
                                        <option value="true">Activo</option>
                                        <option value="false">Inactivo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <button id="btnActualizar" class="btn waves-effect waves-light" type="button" name="action">Actualizar
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Volver</a>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.all.min.js"></script>
        <script src="../js/funcion.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                //var instances = M.Modal.init(elems, options);
            });

            // Or with jQuery
            $(document).ready(function(){
                $('.modal').modal();
            });
        </script>
    </div>
</body>
</html>
