<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Traslado</title>
</head>
<body onload="listarTraslado()">
    <div class="container">
        <div class="nav-item d-none d-sm-inline-block"></div>
        <div class="row">
            <a class="btn btn-danger boton-registro" href="../index.html">PRINCIPAL</a>
        </div>
        <div class="nav-item d-none d-sm-inline-block"></div>
        <div class="row">
            <a class="btn btn-danger boton-registro" href="registrarTraslado.html">Registrar traslado</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>
                        Nombre Estudiante
                    </th>
                    <th>
                        Documento
                    </th>
                    <th>
                        Curso Actual
                    </th>
                    <th>
                        Curso Nuevo
                    </th>
                    <th>
                        Detalle
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody id="contenido">

            </tbody>
        </table>
    </div>

    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.11/dist/sweetalert2.all.min.js"></script>

    <script src="../js/funcion2.js"></script>
    
</body>
</html>